<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Can't escape from Crossing Fate</title>
</head>
<body>
    <div>
        {{# each items }}
            <div class="entry">
            <div class="title">Title: {{this.title}}</div>
            <br>
            <div class="item">
                <div class="details">
                    <div>Date: {{this.date}}</div>
                    <div>Channel: {{this.channel}} </div>
                </div>
                <div class="players">
                    <span>{{this.pone}}: {{this.ponecharone}}/{{ponechartwo}}</span>
                    <span> vs </span>
                    <span>{{this.ptwo}}: {{this.ponecharone}}/{{ponechartwo}}</span>
                </div>
                <div class="actions">
                    <a href="{{this.content}}"><img src="/images/chi.jpg" alt="" width="50" height="50"></a>
                </div>
            </div>
            </div>
            
            
        {{/each}}
    </div>

</body>
</html>